/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0; /* Elimina el margin predeterminado del body */
    padding: 0; /* Elimina el padding predeterminado del body */
    background: url("./images/hero-bg.jpg") center/cover no-repeat;
    
}

body::before {
    content: "";
    background: url("./images/hero-bg.jpg") center/cover no-repeat fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 10px;
}

.icon-container + .icon-container {
    margin-left: 5px; /* Puedes ajustar el valor según la separación deseada */
}



#content-container {
    flex: 1;
    margin-top: 60px; /* Ajusta según la altura de tu menú de navegación */
    justify-content: center;
    align-items: center;
    /* Otras propiedades de estilo según sea necesario */
}

.navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    transition: height 0.3s ease;
    
}

.navbar.editing {
    transition: height 0.3s ease;
}

.navbar.scroll {
    background-color: rgba(30, 30, 30, 0.8);
}


.navbar .hamburger-btn {
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar .logo {
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .logo img {
    width: 40px;
    border-radius: 50%;
}

.navbar .logo h2 {
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
}

.navbar .links {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

.navbar .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    color: #000;
    cursor: pointer;
}

.navbar .links a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
}

.navbar .links a:hover {
    color: #19e8ff;
}

.navbar .login-btn {
    border: none;
    outline: none;
    background: #fff;
    color: #275360;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.15s ease;
}

.navbar .login-btn:hover {
    background: #ddd;
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000; /* Ajusta este valor según sea necesario, debe ser mayor que cualquier otro z-index */
    width: 100%;
    opacity: 0;
    pointer-events: none;
    max-width: 720px;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -70%);
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
    z-index: 999;
}

.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-popup .form-box {
    display: flex;
}

.form-box .form-details {
    width: 100%;
    color: #fff;
    max-width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .form-details {
    padding: 0 40px;
    background: url("images/login-img.jpg");
    background-position: center;
    background-size: cover;
}

.signup .form-details {
    padding: 0 20px;
    background: url("images/signup-img.jpg");
    background-position: center;
    background-size: cover;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 29px;
}

form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    font-size: 0.95rem;
    padding: 0 15px;
    border: 1px solid #717171;
    border-radius: 3px;
}

.input-field input:focus {
    border: 1px solid #00bcd4;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #4a4646;
    pointer-events: none;
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: #00bcd4;
    font-size: 0.75rem;
}

.form-box a {
    color: #00bcd4;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
    
}

form .forgot-pass-link,
form .policy-text {
    display: inline-flex;
    margin-top: 13px;
    font-size: 0.95rem;
}


form button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin: 25px 0;
    background: #00bcd4;
    transition: 0.2s ease;
}

form button:hover {
    background: #0097a7;
}

.form-content .bottom-link {
    text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
    display: none;
}

.form-popup.show-signup .signup {
    display: flex;
}

.signup .policy-text {
    display: flex;
    margin-top: 14px;
    align-items: center;
}

.signup .policy-text input {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

@media (max-width: 950px) {
    .navbar :is(.hamburger-btn, .close-btn) {
        display: block;
    }

    .navbar {
        padding: 15px 0;
    }

    .navbar .logo img {
        display: none;
    }

    .navbar .logo h2 {
        font-size: 1.4rem;
    }

    .navbar .links {
        position: fixed;
        top: 0;
        z-index: 10;
        left: -100%;
        display: block;
        height: 100vh;
        width: 100%;
        padding-top: 60px;
        text-align: center;
        background: #fff;
        transition: 0.2s ease;
    }

    .navbar .links.show-menu {
        left: 0;
    }

    .navbar .links a {
        display: inline-flex;
        margin: 20px 0;
        font-size: 1.2rem;
        color: #000;
    }

    .navbar .links a:hover {
        color: #00BCD4;
    }

    .navbar .login-btn {
        font-size: 0.9rem;
        padding: 7px 10px;
    }
}

@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 150px auto;
    padding: 20px;
    gap: 20px;
}
.card-list .card-item {
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}
.card-list .card-item:hover {
    border: 2px solid #000;
}
.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}
.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}
.card-list .developer {
    background-color: #F7DFF5; 
    color: #B22485;
}   
.card-list .designer {
    background-color: #d1e8ff;
    color: #2968a8;
}
.card-list .editor {
    background-color: #d6f8d6; 
    color: #205c20;
}
.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}
.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}
.card-list .card-item:hover .arrow  {
    background: #000;
    color: #fff; 
}
@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}
@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}

/* Agrega estos estilos al final de tu archivo CSS */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo difuminado */
    z-index: 1;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}

.modal-content {
    color: #000;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}

.close-btn:hover {
    color: #555;
}

/* Agrega estos estilos para los iconos */
.icon-container {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px; /* Espaciado entre iconos */
}

.icon-container i {
    font-size: 24px; /* Tamaño del icono */
    transition: color 0.3s ease; /* Efecto de transición para el cambio de color al hacer hover */
}

.icon-container:hover i {
    color: #19e8ff; /* Color al hacer hover */
}

/* Agrega estos estilos al final de tu archivo CSS */
.modal-success {
    background-color: #4CAF50; /* Verde o el color que desees para mensajes de éxito */
    color: #fff; /* Color de texto en mensajes de éxito */
}

.modal-error {
    background-color: #f44336; /* Rojo o el color que desees para mensajes de error */
    color: #fff; /* Color de texto en mensajes de error */
}

.error-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: #ccd8ff;
    border: 1px solid #8a0000;
    border-radius: 5px;
    color: #000000;
}

/* Opcional: Ajusta estilos para mejorar la apariencia */
.error-message p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.styled-button {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    height: 40px; /* Ajusta la altura según tu preferencia */
    font-size: 1.2em; /* Ajusta el tamaño de la fuente según tu preferencia */
    padding: 0 1em; /* Ajusta el relleno según tu preferencia */
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin-top: 10px; /* Ajusta el margen superior según tu preferencia */
    
}

.styled-button:hover {
    background: #fff;
    color: #1AAB8A;
}

.styled-button:before,
.styled-button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

.styled-button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.styled-button:hover:before,
.styled-button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
.create-event-button-container {
    text-align: center; /* Centra el botón */
    margin-top: 300px; /* Ajusta el margen superior según tu preferencia */
    margin-right: 45%; /* Ajusta el margen izquierdo según tu preferencia */
}

/* Ajusta el z-index del modal de crear evento para que esté por debajo del modal de inicio de sesión */
#createEventModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100; /* Ajusta este valor según sea necesario, debe ser menor que el z-index del modal de inicio de sesión */
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0;
    max-width: 400px;
}

#createEventModal h2 {
    text-align: center; /* Centra el título */
    margin-bottom: 20px; /* Ajusta el margen inferior del título según tus preferencias */
}

/* Ajusta el z-index del overlay del modal de crear evento para que esté por debajo del modal de inicio de sesión */
#createEventModal .modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo difuminado */
    z-index: 100; /* Ajusta este valor según sea necesario, debe ser menor que el z-index del modal de inicio de sesión */
}

#createEventModal .modal-content {
    color: #000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#createEventModal .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}

.create-event-button-container {
    text-align: center;
    margin-top: 40px;
    margin-right: 45%;
    
}

.create-event-button-container .styled-button {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    height: 40px;
    font-size: 1.2em;
    padding: 0 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin-top: 10px;
}

.create-event-button-container .styled-button:hover {
    background: #fff;
    color: #1AAB8A;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.form-row label {
    width: 150px; /* Ajusta el ancho de las etiquetas según tus preferencias */
    margin-right: 10px; /* Ajusta el margen derecho entre la etiqueta y el campo de entrada */
}

.form-row input,
.form-row textarea,
.form-row select {
    width: 100%;
    padding: 8px; /* Agrega un poco de espacio interno para suavizar los bordes */
    border: 1px solid #ccc; /* Ajusta el grosor y color del borde según tus preferencias */
    border-radius: 4px; /* Suaviza las esquinas de los bordes */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total del elemento */
}
.form-row:first-child {
    margin-top: 15px; /* Ajusta el margen superior del primer campo de entrada según tus preferencias */
}

/* Agrega estos estilos al final de tu archivo CSS */
.drop-zone {
    border: 2px dashed #aaa;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.drop-zone.drag-over {
    background-color: #f0f0f0;
}

.drop-zone p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.drop-zone:hover {
    border-color: #1AAB8A;
}

.loading-indicator {
    display: none;
    width: 30px;
    height: 30px;
    border: 4px solid #ccc;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.custom-file-input {
    display: inline-block;
    background-color: transparent; /* Fondo transparente */
    color: #000; /* Color del texto (negro) */
    padding: 6px 10px; /* Ajusta el espaciado interno para hacer el botón más pequeño */
    font-size: 0.8em;
    cursor: pointer;
    border: 0.5px solid #555; /* Borde negro suave */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* Agregado efecto de transición al color del texto */
}

.custom-file-input:hover {
    background-color: #e9f1f8; /* Cambia el color de fondo en hover a celeste suave */
    color: #000; /* Cambia el color del texto en hover a negro */
    border: 1px solid #333; /* Cambia el color del borde en hover a un negro un poco más oscuro */
}


/* Estilos para el formulario de edición de usuarios */
.edit-user-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

.edit-user-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.edit-user-form label {
    display: block;
    margin-top: 20px;
    color: #555;
}

.edit-user-form input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-user-form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-user-form button:hover {
    background-color: #45a049;
}

/* Estilos para el contenedor del formulario */
.form-container {
    text-align: center;
    margin-top: 170px;
}
.centered-container {
    text-align: center;
}

.admin-message {
    font-size: 1.4em; /* Tamaño del texto */
    color: white;
    margin-top: 150px; /* Espacio en la parte superior */
    margin-left: auto; /* Establecer el margen izquierdo y derecho a "auto" */
    margin-right: auto;
    margin-bottom: 0px;
    width: 60%; /* Ancho del contenedor */
}

/* Estilo de la caja blanca */
.caja-blanca {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: 40px auto;
    max-width: 1000px;
    position: relative;
    margin-top: 150px;
}

/* Estilo del título principal */
.caja-blanca h1 {
    font-size: 32px; /* Tamaño del título */
    color: #333; /* Color del texto */
    margin-bottom: 20px; /* Espaciado inferior */
}

.endpoint {
    margin-bottom: 20px;
}

/* Estilo del título de la sección */
.caja-blanca h2 {
    font-size: 24px; /* Tamaño del título */
    color: #2196F3; /* Color del texto */
    margin-bottom: 10px; /* Espaciado inferior */
}

/* Estilo del párrafo de la sección */
.caja-blanca p {
    margin-bottom: 15px; /* Espaciado inferior */
}

/* Estilo de la caja de la descripción */
.caja-blanca .url-mini-box {
    background-color: rgba(76, 175, 80, 0.3); /* Color de fondo transparente */
    color: #333; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondos */
    margin-bottom: 10px;
    display: inline-block;
}

.caja-blanca .url-label {
    margin-right: 5px;
}

.caja-blanca .url-code {
    font-family: 'Courier New', monospace;
}

.caja-blanca .try-button {
    display: inline-block;
    background-color: #2196F3;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

